body{
    background: url("../images/bg.jpg");
    background-position:  cover;
    font-family: 'Merienda', serif
}
.container{
    width: 1000px; min-height: 786px;
    margin: auto;
    background: rgba(0,0,0,0.6);
    color: yellowgreen;
}
.header{
    color: white;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid;
}
.header h1{
    margin-top: 20px;
    margin-left: -40px;
    color: deepskyblue;
    font-family: "Monoton","serif",  "lobster";
    cursor: none;
}
.boxes{
    font-size: 20px;
    margin-bottom: 40px; 
    color: greenyellow; 
    font-weight: 700;
    padding: 10px;
}
input{
    background: #eee;
    border: 1px solid green; padding: 5px;
    border-bottom-left-radius: 5px; border-top-left-radius: 5px;
    color: darkmagenta;
}
input:focus{
    border: 1px solid #00f;
}
.btn{
    border: 1px solid green; border-left: 0;
    padding: 5px 6px; margin-bottom: 3px; 
    border-top-left-radius: 0; border-bottom-left-radius: 0;
    background: #ccc;
}
.btn:hover{
    cursor: pointer;
    background: #bbb;
}
#movies .row{
    height: 200px; line-height: 1.5;
    margin-bottom: 20px; 
    color: white; 
    overflow: hidden;
    background: rgba(0,0,0,0.7);
}
#movies .row:hover{
    cursor:pointer;
    background: rgba(0,0,0,0.9);
}
#info p{
    color: greenyellow;
}
.poster{
    border: 1px solid deepskyblue;
    border-radius: 5px;
}
.down{
    width: 500px; height: 300px; position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background: white;
}
#loading{
    background: none; border: none;
    position: fixed; left: 50%; top: 50%;
    transform: translate(-50%, -50%)
}