body {
  background: url("../images/bg.jpg");
  background-position: cover;
  font-family: "Merienda", serif;
}

.container {
  max-width: 1200px;
  min-height: 700px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.6);
  background-origin: border-box;
  color: yellowgreen;
  overflow: hidden;
}

.header {
  color: white;
  padding: 0 10px;
  border-bottom: 1px solid;
  display: flex;
}

.header.row,
.footer>.row {
  margin: 0;
}

.header h1 {
  text-align: center;
  margin: 20px auto 0 auto;
  color: deepskyblue;
  font-family: "Monoton", "serif", "lobster";
  cursor: none;
}

/* Hide logo */
.header img {
  display: none;
}

@media(min-width: 620px) {
  .header img {
    display: inline;
  }
}

/* Search Form box */
.boxes {
  font-size: 20px;
  margin-bottom: 40px;
  color: greenyellow;
  font-weight: 700;
  padding: 10px;
  overflow: hidden;
}

/* Search Form */
.searchDiv {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

input {
  min-width: 150px;
  background: #eee;
  border: 1px solid green;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: darkmagenta;
  flex-shrink: 2;
}

input:focus {
  border: 1px solid #00f;
}

.btn {
  min-width: 15px;
  flex-shrink: 1;
  border: 1px solid green;
  border-left: 0;
  background: #ccc;
  margin-right: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn:hover {
  cursor: pointer;
  background: #bbb;
}

/* Movies container */
#movies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Movie Poster */
.poster {
  border: 1px solid deepskyblue;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

#info strong {
  color: white
}

#info>* {
  display: block
}

#movies>div {
  min-height: 300px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
}

@media(min-width: 380px) {
  #movies>div {
    width: 80%;
  }
}

@media(min-width: 500px) {
  #movies {
    flex-flow: row wrap;
    align-items: stretch;

  }

  #movies>div {
    flex-basis: 45%;
  }
}

@media(min-width: 700px) {
  #movies>div {
    flex-basis: 30%;
  }
}

@media(min-width: 1000px) {
  #movies>div {
    flex-basis: 23%;
  }
}

#movies>div:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
}

.down p {
  color: darkblue;
  background: inherit;
  border-top: 5px solid black;
  padding: 5px;
}

/* Download box container */
.down__con {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 2;
}

/* Download box */
.down {
  width: 80%;
  height: 70vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  background: white;
}

@media(min-width: 600px) {
  .down {
    width: 500px;
    height: 300px;
  }
}

#h3 {
  border-bottom: 1px solid black;
  font-size: 30px;
  height: 100px;
  color: blueviolet;
  font-weight: bold;
}

.fa-magnet {
  color: darkred;
  margin: 10px;
}

.fa-download {
  color: saddlebrown;
  margin: 10px;
}

#loading {
  background: none;
  border: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#close {
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -20px;
  background: white;
  color: darkred;
}

#close:hover {
  background: #ccc;
}

.footer {
  text-align: center;
  color: yellowgreen;
  padding: 10px;
  background: rgba(0, 0, 0, 0.9);
}

.size {
  display: block;
}

.ver {
  border-right: 2px solid black;
  height: 200px;
}

.col-6 {
  padding-top: 30px;
}